
<main class="container">
	<ul class="nav nav-tabs row">
	  <li role="presentation" class="active"><a href="/">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	<div class="jumbotron text-center row jumboText">
		<h1>
			<%= title %>
			
		</h1>
	</div>

	<div>
	  <div>
	  	<div>
	  		<p class= "description"><%=description%></p>
	  		<p class= "topicUrl"><a href="<%=url%>" target="blank"><%=url%></a></p>
	  	</div>
	  	<ul class="answerList list-group">
	  		<%answers.forEach(function(answer)
  		  		{ %>
  		  		<li class="answerListItem list-group-item pewpew"><%=answer.answerText%></li>
  	  		  		<% })%>
	  	</ul>
	  </div>
	  <p>Have a soulution?</p>
	  <div>
	  	




	  	<form action= "/<%=topic %>/answerAdded" method="post">
		  <div class="form-group">
  		  	<textarea class= "form-control" name="answer" id="answerArea" cols="20" rows="10"></textarea>
  		  	<input class= "form-control" type="hidden" name="category" value="<%=category%>">

		  </div>

		  	<button type="submit" class="btn btn-default js-hook-submit">Submit</button>
		</form>




	  	<!-- <form action= "/<%=topic %>/answerAdded" method="post">
  		  	<br>
  		  	<button class="js-hook-submit" type="submit">
  				submit
  		  	</button>
  		  </form> -->
	 </div>
	
		<!-- <p data-height="268" data-theme-id="0" data-slug-hash="ClnAe" data-user="afkatja" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/chriscoyier/pen/ClnAe'>ClnAe</a> by Katja Hollar (<a href='http://codepen.io/afkatja'>@afkatja</a>) on <a href='http://codepen.io'>CodePen</a></p> -->


		<!-- fidddle+++++++++++++++++++++++ -->
		<!-- <iframe class="lg-col-12 fiddle" src="http://jsfiddle.net/" frameborder="0"></iframe> -->

	</div>
</main>