<main class = " container">
	<div class="jumbotron text-center row jumboText">
		<h1><%= title %></h1>
	</div>

	<div class = "row">
		<section class= "col-lg-8 topicsUl">
			<ul class= "topList">

				<% topics.forEach(function (topic) { %>
					<li><a href="<%=urlCategory%>/<%=topic.id%>/show"><%=topic.subject%></a></li>
				<% }) %>
				<!-- <li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf  <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf  <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf  <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf  <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf  <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf  <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br>
				<li><a href="#">like?</a>fsdhofdhoshfdoishfohsofdihsoidhfosihdf fsdhofdhoshfdoishfohsofdihsoidhfosihdf <a href="/" + <%urlCategory%> +"/" + ":topic/show">answers</a></li>
				<br> -->
			</ul>
		</section>
		<section class ="col-lg-4 remainder">
			<!-- <ul>
				<li><a href="#">like?</a>place <a href="#">answers</a></li>
				<li><a href="#">like?</a>holdd <a href="#">answers</a></li>
				<li><a href="#">like?</a>errrr <a href="#">answers</a></li>
			</ul> -->
			<form class= "topicForm" method= "post" action="/questionAdded">
				<input type="hidden" name="category" value="<%=urlCategory%>" >
				<input class= "formSubject" type="text" placeholder ="subject of question" name ="subject">
				<input class= "docsLink" type="text" placeholder ="link to troubling documentation" name ="url">
				<br>
				<!-- <input type="textbox" placeholder="whats your problem"> -->
				<textarea class= "description" cols="50" rows="10" name= "description"></textarea> 
				<br>
				<button class= "formSubmit" type="submit" id= "subBtn">Submit</button> 
			</form>
		</section>
	</div>
	<div class =" text-center questionForm">
		<section >

		</section>

	</div>

</main>
